[DEFAULT]
seed = 3333
hidden_size = 512
device = cuda:0
epoch = 500
batch_size = 128
learning_rate = 0.001
input_file = /the/training/data/path
model_file = /the/model/save/path
predict_file = /the/predict/save/path

[random_0]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_random_split_0.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_model_0.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_predict_0.pkl

[random_1]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_random_split_1.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_model_1.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_predict_1.pkl

[random_2]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_random_split_2.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_model_2.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_predict_2.pkl

[random_3]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_random_split_3.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_model_3.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_predict_3.pkl

[random_4]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_random_split_4.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_model_4.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_predict_4.pkl

[random_5]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_random_split_5.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_model_5.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_predict_5.pkl

[random_6]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_random_split_6.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_model_6.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_predict_6.pkl

[random_7]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_random_split_7.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_model_7.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_predict_7.pkl

[random_8]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_random_split_8.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_model_8.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_predict_8.pkl

[random_9]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_random_split_9.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_model_9.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_predict_9.pkl

[chemical_0]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_chemical_blind_0.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_0.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_0.pkl

[chemical_1]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_chemical_blind_1.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_1.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_1.pkl

[chemical_2]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_chemical_blind_2.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_2.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_2.pkl

[chemical_3]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_chemical_blind_3.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_3.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_3.pkl

[chemical_4]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_chemical_blind_4.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_4.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_4.pkl

[chemical_5]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_chemical_blind_5.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_5.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_5.pkl

[chemical_6]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_chemical_blind_6.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_6.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_6.pkl

[chemical_7]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_chemical_blind_7.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_7.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_7.pkl

[chemical_8]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_chemical_blind_8.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_8.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_8.pkl

[chemical_9]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_chemical_blind_9.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_9.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/chemical_blind_9.pkl

[cell_0]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_cell_blind_0.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_0.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_0.pkl

[cell_1]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_cell_blind_1.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_1.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_1.pkl

[cell_2]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_cell_blind_2.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_2.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_2.pkl

[cell_3]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_cell_blind_3.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_3.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_3.pkl

[cell_4]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_cell_blind_4.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_4.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_4.pkl

[cell_5]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_cell_blind_5.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_5.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_5.pkl

[cell_6]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_cell_blind_6.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_6.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_6.pkl

[cell_7]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_cell_blind_7.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_7.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_7.pkl

[cell_8]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_cell_blind_8.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_8.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_8.pkl

[cell_9]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_cell_blind_9.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_9.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/cell_blind_9.pkl

[random_0_5uM]
input_file = /data/sequential_data/preprocessed_data_2025/state_transition_model_input_data/step2_model_training_dataset_random_split_5uM.pkl
model_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_model_5uM.pth
predict_file = /data/sequential_data/working_log_2025/state_transition_model/default_model/random_predict_5uM.pkl

