[DEFAULT]
env name = ENV_A375_STEP9_SEED1
test episode num = 1
eps train = 0.3
eps test = 0.0
gamma = 0.7
return n steps = 2
target update freq = 100
lr = 0.0001
layer num = 3
max epoch = 10000
step per epoch = 1
collect per step = 128
batch size = 128
buffer size = 20000
device = cuda:0
rl seed = 111

[ENV_FDA_MCF7_STEP2_SEED1]
env name = ENV_FDA_MCF7_STEP2
rl seed = 1
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP2_SEED2]
env name = ENV_FDA_MCF7_STEP2
rl seed = 2
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP2_SEED3]
env name = ENV_FDA_MCF7_STEP2
rl seed = 3
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP2_SEED4]
env name = ENV_FDA_MCF7_STEP2
rl seed = 4
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP2_SEED5]
env name = ENV_FDA_MCF7_STEP2
rl seed = 5
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP2_SEED6]
env name = ENV_FDA_MCF7_STEP2
rl seed = 6
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP2_SEED7]
env name = ENV_FDA_MCF7_STEP2
rl seed = 7
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP2_SEED8]
env name = ENV_FDA_MCF7_STEP2
rl seed = 8
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP2_SEED9]
env name = ENV_FDA_MCF7_STEP2
rl seed = 9
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP2_SEED10]
env name = ENV_FDA_MCF7_STEP2
rl seed = 10
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP3_SEED1]
env name = ENV_FDA_MCF7_STEP3
rl seed = 1
return n steps = 4
max epoch = 10000

[ENV_FDA_MCF7_STEP3_SEED2]
env name = ENV_FDA_MCF7_STEP3
rl seed = 2
return n steps = 4
max epoch = 10000

[ENV_FDA_MCF7_STEP3_SEED3]
env name = ENV_FDA_MCF7_STEP3
rl seed = 3
return n steps = 4
max epoch = 10000

[ENV_FDA_MCF7_STEP3_SEED4]
env name = ENV_FDA_MCF7_STEP3
rl seed = 4
return n steps = 4
max epoch = 10000

[ENV_FDA_MCF7_STEP3_SEED5]
env name = ENV_FDA_MCF7_STEP3
rl seed = 5
return n steps = 4
max epoch = 10000

[ENV_FDA_MCF7_STEP3_SEED6]
env name = ENV_FDA_MCF7_STEP3
rl seed = 6
return n steps = 4
max epoch = 10000

[ENV_FDA_MCF7_STEP3_SEED7]
env name = ENV_FDA_MCF7_STEP3
rl seed = 7
return n steps = 4
max epoch = 10000

[ENV_FDA_MCF7_STEP3_SEED8]
env name = ENV_FDA_MCF7_STEP3
rl seed = 8
return n steps = 4
max epoch = 10000

[ENV_FDA_MCF7_STEP3_SEED9]
env name = ENV_FDA_MCF7_STEP3
rl seed = 9
return n steps = 4
max epoch = 10000

[ENV_FDA_MCF7_STEP3_SEED10]
env name = ENV_FDA_MCF7_STEP3
rl seed = 10
return n steps = 4
max epoch = 10000

[ENV_FDA_MCF7_STEP4_SEED1]
env name = ENV_FDA_MCF7_STEP4
rl seed = 1
return n steps = 5
max epoch = 100

[ENV_FDA_MCF7_STEP4_SEED2]
env name = ENV_FDA_MCF7_STEP4
rl seed = 2
return n steps = 5
max epoch = 100

[ENV_FDA_MCF7_STEP4_SEED3]
env name = ENV_FDA_MCF7_STEP4
rl seed = 3
return n steps = 5
max epoch = 100

[ENV_FDA_MCF7_STEP4_SEED4]
env name = ENV_FDA_MCF7_STEP4
rl seed = 4
return n steps = 5
max epoch = 100

[ENV_FDA_MCF7_STEP4_SEED5]
env name = ENV_FDA_MCF7_STEP4
rl seed = 5
return n steps = 5
max epoch = 100

[ENV_FDA_MCF7_STEP4_SEED6]
env name = ENV_FDA_MCF7_STEP4
rl seed = 6
return n steps = 5
max epoch = 100

[ENV_FDA_MCF7_STEP4_SEED7]
env name = ENV_FDA_MCF7_STEP4
rl seed = 7
return n steps = 5
max epoch = 100

[ENV_FDA_MCF7_STEP4_SEED8]
env name = ENV_FDA_MCF7_STEP4
rl seed = 8
return n steps = 5
max epoch = 100

[ENV_FDA_MCF7_STEP4_SEED9]
env name = ENV_FDA_MCF7_STEP4
rl seed = 9
return n steps = 5
max epoch = 100

[ENV_FDA_MCF7_STEP4_SEED10]
env name = ENV_FDA_MCF7_STEP4
rl seed = 10
return n steps = 5
max epoch = 100

[ENV_FDA_MCF7_STEP5_SEED1]
env name = ENV_FDA_MCF7_STEP5
rl seed = 1
return n steps = 6
max epoch = 100

[ENV_FDA_MCF7_STEP5_SEED2]
env name = ENV_FDA_MCF7_STEP5
rl seed = 2
return n steps = 6
max epoch = 100

[ENV_FDA_MCF7_STEP5_SEED3]
env name = ENV_FDA_MCF7_STEP5
rl seed = 3
return n steps = 6
max epoch = 100

[ENV_FDA_MCF7_STEP5_SEED4]
env name = ENV_FDA_MCF7_STEP5
rl seed = 4
return n steps = 6
max epoch = 100

[ENV_FDA_MCF7_STEP5_SEED5]
env name = ENV_FDA_MCF7_STEP5
rl seed = 5
return n steps = 6
max epoch = 100

[ENV_FDA_MCF7_STEP5_SEED6]
env name = ENV_FDA_MCF7_STEP5
rl seed = 6
return n steps = 6
max epoch = 100

[ENV_FDA_MCF7_STEP5_SEED7]
env name = ENV_FDA_MCF7_STEP5
rl seed = 7
return n steps = 6
max epoch = 100

[ENV_FDA_MCF7_STEP5_SEED8]
env name = ENV_FDA_MCF7_STEP5
rl seed = 8
return n steps = 6
max epoch = 100

[ENV_FDA_MCF7_STEP5_SEED9]
env name = ENV_FDA_MCF7_STEP5
rl seed = 9
return n steps = 6
max epoch = 100

[ENV_FDA_MCF7_STEP5_SEED10]
env name = ENV_FDA_MCF7_STEP5
rl seed = 10
return n steps = 6
max epoch = 100

[ENV_FDA_MCF7_STEP6_SEED1]
env name = ENV_FDA_MCF7_STEP6
rl seed = 1
return n steps = 7
max epoch = 100

[ENV_FDA_MCF7_STEP6_SEED2]
env name = ENV_FDA_MCF7_STEP6
rl seed = 2
return n steps = 7
max epoch = 100

[ENV_FDA_MCF7_STEP6_SEED3]
env name = ENV_FDA_MCF7_STEP6
rl seed = 3
return n steps = 7
max epoch = 100

[ENV_FDA_MCF7_STEP6_SEED4]
env name = ENV_FDA_MCF7_STEP6
rl seed = 4
return n steps = 7
max epoch = 100

[ENV_FDA_MCF7_STEP6_SEED5]
env name = ENV_FDA_MCF7_STEP6
rl seed = 5
return n steps = 7
max epoch = 100

[ENV_FDA_MCF7_STEP6_SEED6]
env name = ENV_FDA_MCF7_STEP6
rl seed = 6
return n steps = 7
max epoch = 100

[ENV_FDA_MCF7_STEP6_SEED7]
env name = ENV_FDA_MCF7_STEP6
rl seed = 7
return n steps = 7
max epoch = 100

[ENV_FDA_MCF7_STEP6_SEED8]
env name = ENV_FDA_MCF7_STEP6
rl seed = 8
return n steps = 7
max epoch = 100

[ENV_FDA_MCF7_STEP6_SEED9]
env name = ENV_FDA_MCF7_STEP6
rl seed = 9
return n steps = 7
max epoch = 100

[ENV_FDA_MCF7_STEP6_SEED10]
env name = ENV_FDA_MCF7_STEP6
rl seed = 10
return n steps = 7
max epoch = 100

[ENV_FDA_MCF7_STEP7_SEED1]
env name = ENV_FDA_MCF7_STEP7
rl seed = 1
return n steps = 8
max epoch = 100

[ENV_FDA_MCF7_STEP7_SEED2]
env name = ENV_FDA_MCF7_STEP7
rl seed = 2
return n steps = 8
max epoch = 100

[ENV_FDA_MCF7_STEP7_SEED3]
env name = ENV_FDA_MCF7_STEP7
rl seed = 3
return n steps = 8
max epoch = 100

[ENV_FDA_MCF7_STEP7_SEED4]
env name = ENV_FDA_MCF7_STEP7
rl seed = 4
return n steps = 8
max epoch = 100

[ENV_FDA_MCF7_STEP7_SEED5]
env name = ENV_FDA_MCF7_STEP7
rl seed = 5
return n steps = 8
max epoch = 100

[ENV_FDA_MCF7_STEP7_SEED6]
env name = ENV_FDA_MCF7_STEP7
rl seed = 6
return n steps = 8
max epoch = 100

[ENV_FDA_MCF7_STEP7_SEED7]
env name = ENV_FDA_MCF7_STEP7
rl seed = 7
return n steps = 8
max epoch = 100

[ENV_FDA_MCF7_STEP7_SEED8]
env name = ENV_FDA_MCF7_STEP7
rl seed = 8
return n steps = 8
max epoch = 100

[ENV_FDA_MCF7_STEP7_SEED9]
env name = ENV_FDA_MCF7_STEP7
rl seed = 9
return n steps = 8
max epoch = 100

[ENV_FDA_MCF7_STEP7_SEED10]
env name = ENV_FDA_MCF7_STEP7
rl seed = 10
return n steps = 8
max epoch = 100

[ENV_FDA_MCF7_STEP8_SEED1]
env name = ENV_FDA_MCF7_STEP8
rl seed = 1
return n steps = 9
max epoch = 100

[ENV_FDA_MCF7_STEP8_SEED2]
env name = ENV_FDA_MCF7_STEP8
rl seed = 2
return n steps = 9
max epoch = 100

[ENV_FDA_MCF7_STEP8_SEED3]
env name = ENV_FDA_MCF7_STEP8
rl seed = 3
return n steps = 9
max epoch = 100

[ENV_FDA_MCF7_STEP8_SEED4]
env name = ENV_FDA_MCF7_STEP8
rl seed = 4
return n steps = 9
max epoch = 100

[ENV_FDA_MCF7_STEP8_SEED5]
env name = ENV_FDA_MCF7_STEP8
rl seed = 5
return n steps = 9
max epoch = 100

[ENV_FDA_MCF7_STEP8_SEED6]
env name = ENV_FDA_MCF7_STEP8
rl seed = 6
return n steps = 9
max epoch = 100

[ENV_FDA_MCF7_STEP8_SEED7]
env name = ENV_FDA_MCF7_STEP8
rl seed = 7
return n steps = 9
max epoch = 100

[ENV_FDA_MCF7_STEP8_SEED8]
env name = ENV_FDA_MCF7_STEP8
rl seed = 8
return n steps = 9
max epoch = 100

[ENV_FDA_MCF7_STEP8_SEED9]
env name = ENV_FDA_MCF7_STEP8
rl seed = 9
return n steps = 9
max epoch = 100

[ENV_FDA_MCF7_STEP8_SEED10]
env name = ENV_FDA_MCF7_STEP8
rl seed = 10
return n steps = 9
max epoch = 100

[ENV_FDA_MCF7_STEP9_SEED1]
env name = ENV_FDA_MCF7_STEP9
rl seed = 1
return n steps = 10
max epoch = 100

[ENV_FDA_MCF7_STEP9_SEED2]
env name = ENV_FDA_MCF7_STEP9
rl seed = 2
return n steps = 10
max epoch = 100

[ENV_FDA_MCF7_STEP9_SEED3]
env name = ENV_FDA_MCF7_STEP9
rl seed = 3
return n steps = 10
max epoch = 100

[ENV_FDA_MCF7_STEP9_SEED4]
env name = ENV_FDA_MCF7_STEP9
rl seed = 4
return n steps = 10
max epoch = 100

[ENV_FDA_MCF7_STEP9_SEED5]
env name = ENV_FDA_MCF7_STEP9
rl seed = 5
return n steps = 10
max epoch = 100

[ENV_FDA_MCF7_STEP9_SEED6]
env name = ENV_FDA_MCF7_STEP9
rl seed = 6
return n steps = 10
max epoch = 100

[ENV_FDA_MCF7_STEP9_SEED7]
env name = ENV_FDA_MCF7_STEP9
rl seed = 7
return n steps = 10
max epoch = 100

[ENV_FDA_MCF7_STEP9_SEED8]
env name = ENV_FDA_MCF7_STEP9
rl seed = 8
return n steps = 10
max epoch = 100

[ENV_FDA_MCF7_STEP9_SEED9]
env name = ENV_FDA_MCF7_STEP9
rl seed = 9
return n steps = 10
max epoch = 100

[ENV_FDA_MCF7_STEP9_SEED10]
env name = ENV_FDA_MCF7_STEP9
rl seed = 10
return n steps = 10
max epoch = 100

[ENV_DNA_HS578T_STEP6_SEED1]
env name = ENV_DNA_HS578T_STEP6
rl seed = 1
return n steps = 7
max epoch = 100

[ENV_DNA_HS578T_STEP6_SEED2]
env name = ENV_DNA_HS578T_STEP6
rl seed = 2
return n steps = 7
max epoch = 100

[ENV_DNA_HS578T_STEP6_SEED3]
env name = ENV_DNA_HS578T_STEP6
rl seed = 3
return n steps = 7
max epoch = 100

[ENV_DNA_HS578T_STEP6_SEED4]
env name = ENV_DNA_HS578T_STEP6
rl seed = 4
return n steps = 7
max epoch = 100

[ENV_DNA_HS578T_STEP6_SEED5]
env name = ENV_DNA_HS578T_STEP6
rl seed = 5
return n steps = 7
max epoch = 100

[ENV_DNA_HS578T_STEP6_SEED6]
env name = ENV_DNA_HS578T_STEP6
rl seed = 6
return n steps = 7
max epoch = 100

[ENV_DNA_HS578T_STEP6_SEED7]
env name = ENV_DNA_HS578T_STEP6
rl seed = 7
return n steps = 7
max epoch = 100

[ENV_DNA_HS578T_STEP6_SEED8]
env name = ENV_DNA_HS578T_STEP6
rl seed = 8
return n steps = 7
max epoch = 100

[ENV_DNA_HS578T_STEP6_SEED9]
env name = ENV_DNA_HS578T_STEP6
rl seed = 9
return n steps = 7
max epoch = 100

[ENV_DNA_HS578T_STEP6_SEED10]
env name = ENV_DNA_HS578T_STEP6
rl seed = 10
return n steps = 7
max epoch = 100

[ENV_FDA_A375_STEP2_SEED1]
env name = ENV_FDA_A375_STEP2
rl seed = 1
return n steps = 3
max epoch = 10000

[ENV_FDA_A375_STEP2_SEED2]
env name = ENV_FDA_A375_STEP2
rl seed = 2
return n steps = 3
max epoch = 10000

[ENV_FDA_A375_STEP2_SEED3]
env name = ENV_FDA_A375_STEP2
rl seed = 3
return n steps = 3
max epoch = 10000

[ENV_FDA_A375_STEP2_SEED4]
env name = ENV_FDA_A375_STEP2
rl seed = 4
return n steps = 3
max epoch = 10000

[ENV_FDA_A375_STEP2_SEED5]
env name = ENV_FDA_A375_STEP2
rl seed = 5
return n steps = 3
max epoch = 10000

[ENV_FDA_A375_STEP2_SEED6]
env name = ENV_FDA_A375_STEP2
rl seed = 6
return n steps = 3
max epoch = 10000

[ENV_FDA_A375_STEP2_SEED7]
env name = ENV_FDA_A375_STEP2
rl seed = 7
return n steps = 3
max epoch = 10000

[ENV_FDA_A375_STEP2_SEED8]
env name = ENV_FDA_A375_STEP2
rl seed = 8
return n steps = 3
max epoch = 10000

[ENV_FDA_A375_STEP2_SEED9]
env name = ENV_FDA_A375_STEP2
rl seed = 9
return n steps = 3
max epoch = 10000

[ENV_FDA_A375_STEP2_SEED10]
env name = ENV_FDA_A375_STEP2
rl seed = 10
return n steps = 3
max epoch = 10000

[ENV_FDA_A375_STEP3_SEED1]
env name = ENV_FDA_A375_STEP3
rl seed = 1
return n steps = 4
max epoch = 10000

[ENV_FDA_A375_STEP3_SEED2]
env name = ENV_FDA_A375_STEP3
rl seed = 2
return n steps = 4
max epoch = 10000

[ENV_FDA_A375_STEP3_SEED3]
env name = ENV_FDA_A375_STEP3
rl seed = 3
return n steps = 4
max epoch = 10000

[ENV_FDA_A375_STEP3_SEED4]
env name = ENV_FDA_A375_STEP3
rl seed = 4
return n steps = 4
max epoch = 10000

[ENV_FDA_A375_STEP3_SEED5]
env name = ENV_FDA_A375_STEP3
rl seed = 5
return n steps = 4
max epoch = 10000

[ENV_FDA_A375_STEP3_SEED6]
env name = ENV_FDA_A375_STEP3
rl seed = 6
return n steps = 4
max epoch = 10000

[ENV_FDA_A375_STEP3_SEED7]
env name = ENV_FDA_A375_STEP3
rl seed = 7
return n steps = 4
max epoch = 10000

[ENV_FDA_A375_STEP3_SEED8]
env name = ENV_FDA_A375_STEP3
rl seed = 8
return n steps = 4
max epoch = 10000

[ENV_FDA_A375_STEP3_SEED9]
env name = ENV_FDA_A375_STEP3
rl seed = 9
return n steps = 4
max epoch = 10000

[ENV_FDA_A375_STEP3_SEED10]
env name = ENV_FDA_A375_STEP3
rl seed = 10
return n steps = 4
max epoch = 10000

[ENV_FDA_A375_STEP4_SEED1]
env name = ENV_FDA_A375_STEP4
rl seed = 1
return n steps = 5
max epoch = 30000

[ENV_FDA_A375_STEP4_SEED2]
env name = ENV_FDA_A375_STEP4
rl seed = 2
return n steps = 5
max epoch = 30000

[ENV_FDA_A375_STEP4_SEED3]
env name = ENV_FDA_A375_STEP4
rl seed = 3
return n steps = 5
max epoch = 30000

[ENV_FDA_A375_STEP4_SEED4]
env name = ENV_FDA_A375_STEP4
rl seed = 4
return n steps = 5
max epoch = 30000

[ENV_FDA_A375_STEP4_SEED5]
env name = ENV_FDA_A375_STEP4
rl seed = 5
return n steps = 5
max epoch = 30000

[ENV_FDA_A375_STEP4_SEED6]
env name = ENV_FDA_A375_STEP4
rl seed = 6
return n steps = 5
max epoch = 30000

[ENV_FDA_A375_STEP4_SEED7]
env name = ENV_FDA_A375_STEP4
rl seed = 7
return n steps = 5
max epoch = 30000

[ENV_FDA_A375_STEP4_SEED8]
env name = ENV_FDA_A375_STEP4
rl seed = 8
return n steps = 5
max epoch = 30000

[ENV_FDA_A375_STEP4_SEED9]
env name = ENV_FDA_A375_STEP4
rl seed = 9
return n steps = 5
max epoch = 30000

[ENV_FDA_A375_STEP4_SEED10]
env name = ENV_FDA_A375_STEP4
rl seed = 10
return n steps = 5
max epoch = 30000

[ENV_FDA_A375_STEP5_SEED1]
env name = ENV_FDA_A375_STEP5
rl seed = 1
return n steps = 6
max epoch = 30000

[ENV_FDA_A375_STEP5_SEED2]
env name = ENV_FDA_A375_STEP5
rl seed = 2
return n steps = 6
max epoch = 30000

[ENV_FDA_A375_STEP5_SEED3]
env name = ENV_FDA_A375_STEP5
rl seed = 3
return n steps = 6
max epoch = 30000

[ENV_FDA_A375_STEP5_SEED4]
env name = ENV_FDA_A375_STEP5
rl seed = 4
return n steps = 6
max epoch = 30000

[ENV_FDA_A375_STEP5_SEED5]
env name = ENV_FDA_A375_STEP5
rl seed = 5
return n steps = 6
max epoch = 30000

[ENV_FDA_A375_STEP5_SEED6]
env name = ENV_FDA_A375_STEP5
rl seed = 6
return n steps = 6
max epoch = 30000

[ENV_FDA_A375_STEP5_SEED7]
env name = ENV_FDA_A375_STEP5
rl seed = 7
return n steps = 6
max epoch = 30000

[ENV_FDA_A375_STEP5_SEED8]
env name = ENV_FDA_A375_STEP5
rl seed = 8
return n steps = 6
max epoch = 30000

[ENV_FDA_A375_STEP5_SEED9]
env name = ENV_FDA_A375_STEP5
rl seed = 9
return n steps = 6
max epoch = 30000

[ENV_FDA_A375_STEP5_SEED10]
env name = ENV_FDA_A375_STEP5
rl seed = 10
return n steps = 6
max epoch = 30000

[ENV_FDA_A375_STEP6_SEED1]
env name = ENV_FDA_A375_STEP6
rl seed = 1
return n steps = 7
max epoch = 30000

[ENV_FDA_A375_STEP6_SEED2]
env name = ENV_FDA_A375_STEP6
rl seed = 2
return n steps = 7
max epoch = 30000

[ENV_FDA_A375_STEP6_SEED3]
env name = ENV_FDA_A375_STEP6
rl seed = 3
return n steps = 7
max epoch = 30000

[ENV_FDA_A375_STEP6_SEED4]
env name = ENV_FDA_A375_STEP6
rl seed = 4
return n steps = 7
max epoch = 30000

[ENV_FDA_A375_STEP6_SEED5]
env name = ENV_FDA_A375_STEP6
rl seed = 5
return n steps = 7
max epoch = 30000

[ENV_FDA_A375_STEP6_SEED6]
env name = ENV_FDA_A375_STEP6
rl seed = 6
return n steps = 7
max epoch = 30000

[ENV_FDA_A375_STEP6_SEED7]
env name = ENV_FDA_A375_STEP6
rl seed = 7
return n steps = 7
max epoch = 30000

[ENV_FDA_A375_STEP6_SEED8]
env name = ENV_FDA_A375_STEP6
rl seed = 8
return n steps = 7
max epoch = 30000

[ENV_FDA_A375_STEP6_SEED9]
env name = ENV_FDA_A375_STEP6
rl seed = 9
return n steps = 7
max epoch = 30000

[ENV_FDA_A375_STEP6_SEED10]
env name = ENV_FDA_A375_STEP6
rl seed = 10
return n steps = 7
max epoch = 30000

[ENV_FDA_A375_STEP7_SEED1]
env name = ENV_FDA_A375_STEP7
rl seed = 1
return n steps = 8
max epoch = 30000

[ENV_FDA_A375_STEP7_SEED2]
env name = ENV_FDA_A375_STEP7
rl seed = 2
return n steps = 8
max epoch = 30000

[ENV_FDA_A375_STEP7_SEED3]
env name = ENV_FDA_A375_STEP7
rl seed = 3
return n steps = 8
max epoch = 30000

[ENV_FDA_A375_STEP7_SEED4]
env name = ENV_FDA_A375_STEP7
rl seed = 4
return n steps = 8
max epoch = 30000

[ENV_FDA_A375_STEP7_SEED5]
env name = ENV_FDA_A375_STEP7
rl seed = 5
return n steps = 8
max epoch = 30000

[ENV_FDA_A375_STEP7_SEED6]
env name = ENV_FDA_A375_STEP7
rl seed = 6
return n steps = 8
max epoch = 30000

[ENV_FDA_A375_STEP7_SEED7]
env name = ENV_FDA_A375_STEP7
rl seed = 7
return n steps = 8
max epoch = 30000

[ENV_FDA_A375_STEP7_SEED8]
env name = ENV_FDA_A375_STEP7
rl seed = 8
return n steps = 8
max epoch = 30000

[ENV_FDA_A375_STEP7_SEED9]
env name = ENV_FDA_A375_STEP7
rl seed = 9
return n steps = 8
max epoch = 30000

[ENV_FDA_A375_STEP7_SEED10]
env name = ENV_FDA_A375_STEP7
rl seed = 10
return n steps = 8
max epoch = 30000

[ENV_FDA_A375_STEP8_SEED1]
env name = ENV_FDA_A375_STEP8
rl seed = 1
return n steps = 9
max epoch = 30000

[ENV_FDA_A375_STEP8_SEED2]
env name = ENV_FDA_A375_STEP8
rl seed = 2
return n steps = 9
max epoch = 30000

[ENV_FDA_A375_STEP8_SEED3]
env name = ENV_FDA_A375_STEP8
rl seed = 3
return n steps = 9
max epoch = 30000

[ENV_FDA_A375_STEP8_SEED4]
env name = ENV_FDA_A375_STEP8
rl seed = 4
return n steps = 9
max epoch = 30000

[ENV_FDA_A375_STEP8_SEED5]
env name = ENV_FDA_A375_STEP8
rl seed = 5
return n steps = 9
max epoch = 30000

[ENV_FDA_A375_STEP8_SEED6]
env name = ENV_FDA_A375_STEP8
rl seed = 6
return n steps = 9
max epoch = 30000

[ENV_FDA_A375_STEP8_SEED7]
env name = ENV_FDA_A375_STEP8
rl seed = 7
return n steps = 9
max epoch = 30000

[ENV_FDA_A375_STEP8_SEED8]
env name = ENV_FDA_A375_STEP8
rl seed = 8
return n steps = 9
max epoch = 30000

[ENV_FDA_A375_STEP8_SEED9]
env name = ENV_FDA_A375_STEP8
rl seed = 9
return n steps = 9
max epoch = 30000

[ENV_FDA_A375_STEP8_SEED10]
env name = ENV_FDA_A375_STEP8
rl seed = 10
return n steps = 9
max epoch = 30000

[ENV_FDA_A375_STEP9_SEED1]
env name = ENV_FDA_A375_STEP9
rl seed = 1
return n steps = 10
max epoch = 30000

[ENV_FDA_A375_STEP9_SEED2]
env name = ENV_FDA_A375_STEP9
rl seed = 2
return n steps = 10
max epoch = 30000

[ENV_FDA_A375_STEP9_SEED3]
env name = ENV_FDA_A375_STEP9
rl seed = 3
return n steps = 10
max epoch = 30000

[ENV_FDA_A375_STEP9_SEED4]
env name = ENV_FDA_A375_STEP9
rl seed = 4
return n steps = 10
max epoch = 30000

[ENV_FDA_A375_STEP9_SEED5]
env name = ENV_FDA_A375_STEP9
rl seed = 5
return n steps = 10
max epoch = 30000

[ENV_FDA_A375_STEP9_SEED6]
env name = ENV_FDA_A375_STEP9
rl seed = 6
return n steps = 10
max epoch = 30000

[ENV_FDA_A375_STEP9_SEED7]
env name = ENV_FDA_A375_STEP9
rl seed = 7
return n steps = 10
max epoch = 30000

[ENV_FDA_A375_STEP9_SEED8]
env name = ENV_FDA_A375_STEP9
rl seed = 8
return n steps = 10
max epoch = 30000

[ENV_FDA_A375_STEP9_SEED9]
env name = ENV_FDA_A375_STEP9
rl seed = 9
return n steps = 10
max epoch = 30000

[ENV_FDA_A375_STEP9_SEED10]
env name = ENV_FDA_A375_STEP9
rl seed = 10
return n steps = 10
max epoch = 30000

