[DEFAULT]
env name = ENV_A375_STEP2_SEED1
test episode num = 1
eps train = 0.3
eps test = 0.0
gamma = 0.7
return n steps = 2
target update freq = 100
lr = 0.0001
layer num = 3
max epoch = 10000
step per epoch = 1
collect per step = 128
batch size = 128
buffer size = 20000
device = cpu
rl seed = 111

[ENV_FDA_MCF7_STEP2_SEED1]
env name = ENV_FDA_MCF7_STEP2
rl seed = 1
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP2_SEED2]
env name = ENV_FDA_MCF7_STEP2
rl seed = 2
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP2_SEED3]
env name = ENV_FDA_MCF7_STEP2
rl seed = 3
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP2_SEED4]
env name = ENV_FDA_MCF7_STEP2
rl seed = 4
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP2_SEED5]
env name = ENV_FDA_MCF7_STEP2
rl seed = 5
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP2_SEED6]
env name = ENV_FDA_MCF7_STEP2
rl seed = 6
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP2_SEED7]
env name = ENV_FDA_MCF7_STEP2
rl seed = 7
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP2_SEED8]
env name = ENV_FDA_MCF7_STEP2
rl seed = 8
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP2_SEED9]
env name = ENV_FDA_MCF7_STEP2
rl seed = 9
return n steps = 3
max epoch = 10000

[ENV_FDA_MCF7_STEP2_SEED10]
env name = ENV_FDA_MCF7_STEP2
rl seed = 10
return n steps = 3
max epoch = 10000

